// for CSS
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(ref="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
link(rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}")

// for Script
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src="https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.2/vue.js")
script(src="{{ url_for('static', filename='js/libs/mb_libs.js')}}")

